block-exotic-subdeps=true
ignore-scripts=true
# https://docs.npmjs.com/cli/v11/commands/npm-install#min-release-age Value is in days
min-release-age=3
node-options="--permission"
save-exact=true
store-dir=.pnpm-store
trust-policy=no-downgrade